src/wsdl/localhost_8080/service/AdminsService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Services.service.mycompany.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Services.service.mycompany.com/" name="AdminsService">
<types>
<xsd:schema>
<xsd:import namespace="http://Services.service.mycompany.com/" schemaLocation="http://localhost:8080/service/AdminsService?xsd=1"/>
</xsd:schema>
</types>
<message name="deleteCustomer">
<part name="parameters" element="tns:deleteCustomer"/>
</message>
<message name="deleteCustomerResponse">
<part name="parameters" element="tns:deleteCustomerResponse"/>
</message>
<message name="getSales">
<part name="parameters" element="tns:getSales"/>
</message>
<message name="getSalesResponse">
<part name="parameters" element="tns:getSalesResponse"/>
</message>
<message name="loginAdmin">
<part name="parameters" element="tns:loginAdmin"/>
</message>
<message name="loginAdminResponse">
<part name="parameters" element="tns:loginAdminResponse"/>
</message>
<portType name="AdminsService">
<operation name="deleteCustomer">
<input wsam:Action="http://Services.service.mycompany.com/AdminsService/deleteCustomerRequest" message="tns:deleteCustomer"/>
<output wsam:Action="http://Services.service.mycompany.com/AdminsService/deleteCustomerResponse" message="tns:deleteCustomerResponse"/>
</operation>
<operation name="getSales">
<input wsam:Action="http://Services.service.mycompany.com/AdminsService/getSalesRequest" message="tns:getSales"/>
<output wsam:Action="http://Services.service.mycompany.com/AdminsService/getSalesResponse" message="tns:getSalesResponse"/>
</operation>
<operation name="loginAdmin">
<input wsam:Action="http://Services.service.mycompany.com/AdminsService/loginAdminRequest" message="tns:loginAdmin"/>
<output wsam:Action="http://Services.service.mycompany.com/AdminsService/loginAdminResponse" message="tns:loginAdminResponse"/>
</operation>
</portType>
<binding name="AdminsServicePortBinding" type="tns:AdminsService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="deleteCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSales">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="loginAdmin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AdminsService">
<port name="AdminsServicePort" binding="tns:AdminsServicePortBinding">
<soap:address location="http://localhost:8080/service/AdminsService"/>
</port>
</service>
</definitions>